<footer th:fragment="header">
    <div class="footer-content">
        <div class="footer-section">
            <h3>Контакты</h3>
            <ul>
                <li><a>Поддержка: support@dinarex.org</a></li>
                <li><a>="mailto:info@dinarex.org">Общие вопросы: info@dinarex.org</a></li>
                <li><a>Юридические вопросы: legal@dinarex.org</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Юридические документы</h3>
            <ul>
                <li><a>Политика конфиденциальности</a></li>
                <li><a>Пользовательское соглашение</a></li>
                <li><a>Политика использования Cookie</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Адрес</h3>
            <p>Белград<br>Башня Федерация – Восток, 14 этаж</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Dinarex. Все права защищены.</p>
    </div>
</footer>